@import './reset.css';

body {
  background-color: #171820;
  color: #fff;
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.navigation ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.logo h1 {
    margin: 0;
}

.hero-banner {
  min-height: 420px;

  background-image:
    linear-gradient(
      rgba(23, 24, 32, 0.55),
      rgba(23, 24, 32, 0.55)
    ),
    url("../Assets/Hero-banner-Northstar.avif");

}

.hero-banner, .error {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;

  width: 100vw;
  margin-left: calc(50% - 50vw);
}

html {
  scroll-behavior: smooth;
}

.products-section {
  padding: 80px 0;
  text-align: center;
}

.products-section h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.sort-select {
  padding: 12px 18px;
  margin-bottom: 40px;
  font-size: 15px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  background-color: #fff;
  color: #171820;
  padding: 25px;
  border-radius: 16px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-card h3 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.product-price {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 15px;
}

.view-btn {
  text-decoration: none;
  background-color: #42bff5;
  color: #171820;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
}

.error {
  min-height: 90svh;

  background-image:
    linear-gradient(
      rgba(23, 24, 32, 0.55),
      rgba(23, 24, 32, 0.55)
    ),
    url("../Assets/Error.jpg");
}

.error .container {
  text-align: center;
}

.error .container h1 {
  margin-bottom: 50px;
}

.error .container a {
  color: #00ffff;
}

/* Tablet */
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Phone */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }

  .navigation ul {
    gap: 1rem;
  }

  .hero-banner {
    min-height: 350px;
    padding: 30px;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .products-section h2 {
    font-size: 2rem;
  }
}