@import './reset.css';

body {
  background-color: #171820;
  color: #fff;
  overflow-x: hidden;
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.navigation ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: white;
}



.hero-banner {
  min-height: 120vh;

  background-image:
    linear-gradient(
      rgba(23, 24, 32, 0.55),
      rgba(23, 24, 32, 0.55)
    ),
    url("../Assets/Hero-banner-Northstar.avif");

}

.hero-banner, .error {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;

  width: 100vw;
  margin-left: calc(50% - 50vw);
}

html {
  scroll-behavior: smooth;
}

.products-section {
  padding: 80px 0;
  text-align: center;
}

.product-btn{
font-size: 20px;
background-color: #42bff5;
}

.products-section h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.sort-select {
  padding: 12px 18px;
  margin-bottom: 40px;
  font-size: 15px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  color: #171820;
  padding: 25px;
  border-radius: 16px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-card h3 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.product-price {
  font-weight: bold;
  margin-bottom: 15px;
}

.view-btn {
  text-decoration: none;
  background-color: rgb(25, 48, 117);;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
}

.error {
  min-height: 90svh;

  background-image:
    linear-gradient(
      rgba(23, 24, 32, 0.55),
      rgba(23, 24, 32, 0.55)
    ),
    url("../Assets/Error.jpg");
  height: 100svh;
}

.error .container {
  text-align: center;
}

.error .container h1 {
  margin-bottom: 50px;
}

.error .container h3 {
  margin-bottom: 20px;
}

.error .container a {
  color: #fff;
  text-decoration: none;
  background-color: rgb(25, 48, 117);;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

input[type='number'] {
  border-radius: 10px;
}

.product-card, select, .product-detail, 
.cart-item, .order-summary {
  background-color: #dfdfdf;
}

.quantity-box span, input[type='number'] {
  background-color: #ffffff;
}

.product-grid a {
  text-decoration: none;
}


/* Tablet */
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Phone */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }

  .navigation ul {
    gap: 1rem;
  }

  .hero-banner {
    min-height: 350px;
    padding: 30px;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .products-section h2 {
    font-size: 2rem;
  }
}
.product-page {
  padding: 50px 0;
}

.back-link {
  display: inline-block;
  margin-bottom: 30px;
  color: #42bff5;
  text-decoration: none;
}

.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  color: #171820;
  padding: 40px;
  border-radius: 18px;
}

.product-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-box img {
  width: 100%;
  max-height: 420px;
  object-fit: contain;
}

.product-category {
  text-transform: uppercase;
  color: #42bff5;
  font-weight: bold;
}

.detail-price {
  font-weight: bold;
  margin: 20px 0;
}

.detail-description {
  margin-bottom: 25px;
}

.product-info label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.product-info input {
  width: 90px;
  padding: 10px;
}

.add-cart-btn {
 background-color: rgb(25, 48, 117);;
  color: rgb(255, 248, 248);
  padding: 14px 22px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.similar-section {
  margin-top: 70px;
}

.similar-section h2 {
  text-align: center;
  margin-bottom: 35px;
}

@media (max-width: 800px) {
  .product-detail {
    grid-template-columns: 1fr;
  }
}

html,
body,
#root {
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  background-color: #101117;
  color: #fff;
  padding: 50px 20px 20px;

  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.footer-inner {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
}

.footer h3,
.footer h4 {
  margin-bottom: 15px;
}

.footer p {
  color: #b8b8b8;
  margin-bottom: 8px;
}

.footer-bottom {
  width: min(100% - 30px, 1080px);
  margin: 35px auto 0;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.15);
  text-align: center;
}

@media (max-width: 700px) {
  .footer-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.cart-page {
  padding: 50px 0;
}

.cart-page h1 {
  text-align: center;
  margin-bottom: 40px;
    color: #42bff5;
}

.cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.cart-item,
.order-summary {
  color: #171820;
  border-radius: 14px;
  padding: 25px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.cart-info {
  flex: 1;
}

.quantity-box {
  display: flex;
  width: 130px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.quantity-box button,
.quantity-box span {
  width: 43px;
  padding: 10px;
  border: none;
  text-align: center;
}

.delete-btn,
.checkout-btn {
 background-color: rgb(25, 48, 117);;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.order-summary h2 {
  text-align: center;
  margin-bottom: 30px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total {
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  margin-top: 15px;
}

.continue-shopping {
  display: inline-block;
  margin-top: 20px;
  color: #42bff5;
}

@media (max-width: 800px) {
  .cart-layout {
    grid-template-columns: 1fr;
  }

  .cart-item {
    flex-direction: column;
    text-align: center;
  }
}


.user-review {
   margin-top: 20px;
 
   gap: 20px;
  display: flex;
  flex-direction: column;
  button {
    padding: 3px;
    border-radius: 5px;
    color: white;
    background-color: rgb(25, 48, 117);
  }

  textarea {
    border-radius: 5px;
  width: 100%;
  max-width: 500px;
    padding: 10px;
    color: black;
    background-color: antiquewhite;
  }
}